.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 736px;
  margin: -27px;
  margin-bottom: 64px;
}

form input[type="search"] {
  width: 638px;
  height: 54px;
  padding: 1rem;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-300);
}

form input[type="search"]:focus {
  border: 1px solid var(--purple-dark);
  color: var(--gray-100);
}

form button {
  display: flex;
  align-items: center;
  width: 90px;
  height: 52px;
  padding: 16px;
  background-color: var(--blue-dark);
  color: var(--gray-100);
  border: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
}

form button svg {
  margin-left: 8px;
}

form button:hover {
  background-color: var(--blue);
  cursor: pointer;
}

.taskBox {
  display: flex;
  flex-direction: column;
  width: 736px;
  min-height: 287px;
  color: var(--gray-300);
}

.taskInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
}

.taskInfo>div {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: var(--blue);
}

.taskInfo span {
  margin-left: 8px;
  padding: 2px 8px;
  background-color: var(--gray-400);
  color: var(--gray-200);
  border-radius: 999px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
}