.task {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-400);
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
}

.task+.task {
  margin-top: 12px;
}

.toCheckButton {
  background: transparent;
  border: 0;
}

.toCheckButton svg {
  width: 23px;
  height: 23px;
  cursor: pointer;
  color: var(--blue);
}

.toCheckButton svg:hover {
  color: var(--blue-dark);
}

.checkedButton {
  background: transparent;
  border: 0;
}

.checkedButton svg {
  width: 23px;
  height: 23px;
  cursor: pointer;
  color: var(--purple-dark);
}

.checkedButton svg:hover {
  color: var(--purple);
}

.task p {
  display: flex;
  width: 632px;
  padding: 0 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: left;
}

.messageToCheck {
  color: var(--gray-100);
}

.messageChecked {
  color: var(--gray-300);
  text-decoration: line-through;
}

.trashButton {
  background: transparent;
  border: 0;
}

.trashButton svg {
  width: 16px;
  height: 16px;
  cursor: pointer;
  color: var(--gray-300);
}

.trashButton svg:hover {
  color: var(--danger);
}