:root {
  --white: #FFF;
  --violet: blueviolet;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'arial', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--violet);
}